@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container {
    animation: fadeIn 1.5s ease-in-out;
}

.text-container {
    overflow: hidden;
}

.fade-slide {
    opacity: 0;
    transform: translateX(100%);
    animation: fadeSlide 1s forwards;
}

@keyframes fadeSlide {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}