body {
    background-color: #130F0F;
    color: #8C8C8C;
    font-family: 'Jost', sans-serif;
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
.navbar {
    background-color: #1F1919;
}
a {
    text-decoration: none;
}

.form-control{
    background-color: #1F1919;
    border: none;
    color: #8C8C8C;

}

footer {
    background-color: #1F1919;
}
.card {
    width: 300px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    
    position: relative;
    opacity: 0.5;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 20px;
}

.card:hover {
    opacity: 1;
    transform: translateY(0);
}

#pepe {
    background-color: transparent;
    border: 2px solid #130F0F; 
    color: #fff; 
  }
  
  #pepe:hover {
    background-color: #130F0F;
  }

#comprarBtn {
    background-color: transparent;
    border: 2px solid #1b1214; 
    color: #fff;
}
#comprarBtn:hover{
    background-color: #130F0F;
}


#title {
    font-weight: 900;
    font-size: 1000%;
    color: #bebcbc;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.header {
    background-color: #000;
    color: #fff;
}

.footer {
    background-color: #000;
    color: #fff;
}
.card {
    background-color: #1F1919;

    color: rgb(150, 150, 150);
}
.social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #bbb;
}

.footer .btn {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.footer .btn:hover {
    background-color: #fff;
    color: #000;
    border-color: #000;
}

.fadeIn {
    opacity: 0;
    transform: translateY(20px); 
    transition: opacity 1s ease, transform 1s ease;
}


.fadeIn.visible {
    opacity: 1;
    transform: translateY(0);
}
h1 {
    text-align: center;
}
p {
    color: #8C8C8C;

}

.form-control {
    background-color: #1F1919 !important; 
}

.btn-primary {
    background-color: #130F0F;
}


#carouselExampleSlidesOnly.carousel-inner{
    transition-duration: 2s;
}
