body.dark-theme {
    background-color: #130F0F;
    color: #8C8C8C;
    font-family: 'Jost', sans-serif;
}

body.dark-theme .navbar {
    background-color: #1F1919 !important; /* Aplicando color de fondo para tema oscuro */
}

body.dark-theme .navbar .nav-link {
    color: #c9c9c9 !important; /* Cambiando el color del texto en los enlaces para tema oscuro */
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
.navbar {
    background-color: #1F1919;
}

body.dark-theme .gestion-propiedades-text {
    color: #c9c9c9 !important; /* Cambia el color del texto para tema oscuro */
}

body.dark-theme .registro-clientes-text {
    color: #c9c9c9 !important; /* Cambia el color del texto para tema oscuro */
}

body.dark-theme .card{
    background-color: #1F1919 !important; /* Color de fondo para las cards en modo oscuro */
    color: #c9c9c9 !important; /* Color del texto para las cards en modo oscuro */
}

body.dark-theme .card .card-text{
    color: #c9c9c9 !important; /* Color del texto para las cards en modo oscuro */
}


body.dark-theme .eslogan {
    color: #8C8C8C;
}

body.dark-theme .footer {
    background-color: #1F1919; /* Color de fondo para el footer en modo oscuro */
    color: #c9c9c9; /* Color del texto para el footer en modo oscuro */
}

body.dark-theme .footer .text-white {
    color: #c9c9c9; /* Cambia el color del texto en modo oscuro */
}

body.dark-theme .footer .social-icons a {
    color: #c9c9c9; /* Cambia el color de los iconos en modo oscuro */
}

body.dark-theme .footer .ptcfooter{
    color: #c9c9c9;
}

body.dark-theme .footer .footercopy{
    color: #c9c9c9;
}

body.dark-theme #pepe button{
    background-color: transparent;
    border: 2px solid #261F1F; 
    color: #E0E0E0; 
}

body.dark-theme #pepe button:hover{
    background-color: #1D1919;
}

body.dark-theme #pepe {
    background-color: transparent;
    border: 2px solid #261F1F; 
    color: #E0E0E0; 
  }
  
body.dark-theme #pepe:hover {
    background-color: #1D1919;
  }

--------------------------------------------------------

body.dark-theme #comprarInicial button{
    background-color: transparent;
    border: 2px solid #261F1F; 
    color: #E0E0E0; 
}

body.dark-theme #comprarInicial button:hover{
    background-color: #1D1919;
}

body.dark-theme #comprarInicial {
    background-color: transparent;
    border: 2px solid #261F1F; 
    color: #E0E0E0; 
  }
  
body.dark-theme #comprarInicial:hover {
    background-color: #1D1919;
  }


-------------------------------------------------------------

body.dark-theme #comprarPremium button{
    background-color: transparent;
    border: 2px solid #261F1F; 
    color: #E0E0E0; 
}

body.dark-theme #comprarPremium button:hover{
    background-color: #1D1919;
}

body.dark-theme #comprarPremium {
    background-color: transparent;
    border: 2px solid #261F1F; 
    color: #E0E0E0; 
  }
  
body.dark-theme #comprarPremium:hover {
    background-color: #1D1919;
  }

--------------------------------------------------------------

body.dark-theme #comprarPremiumP button{
    background-color: transparent;
    border: 2px solid #261F1F; 
    color: #E0E0E0; 
}

body.dark-theme #comprarPremiumP button:hover{
    background-color: #1D1919;
}

body.dark-theme #comprarPremiumP {
    background-color: transparent;
    border: 2px solid #261F1F; 
    color: #E0E0E0; 
  }
  
body.dark-theme #comprarPremiumP:hover {
    background-color: #1D1919;
  }


------------------------------------------------------------------  

a {
    text-decoration: none;
}

.form-control{
    background-color: #826e6e;
    border: none;
    color: #000000;

}

footer {
    background-color: #1F1919;
}
.card {
    width: 300px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    
    position: relative;
    opacity: 0.5;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 20px;
}

.card:hover {
    opacity: 1;
    transform: translateY(0);
}

#boton button{
    background-color: transparent;
    border: 2px solid #261F1F; 
    color: #E0E0E0; 
}

#boton button:hover{
    background-color: #1D1919;
}

#pepe {
    background-color: transparent;
    border: 2px solid #261F1F; 
    color: #E0E0E0; 
  }
  
  #pepe:hover {
    background-color: #1D1919;
  }


#title {
    font-weight: 900;
    font-size: 1000%;
    color: #bebcbc;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.header {
    background-color: #000;
    color: #fff;
}

.footer {
    background-color: #000;
    color: #fff;
}
.card {
    background-color: #1F1919;

    color: rgb(150, 150, 150);
}
.social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #bbb;
}

.footer .btn {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.footer .btn:hover {
    background-color: #fff;
    color: #000;
    border-color: #000;
}

.fadeIn {
    opacity: 0;
    transform: translateY(20px); 
    transition: opacity 1s ease, transform 1s ease;
}


.fadeIn.visible {
    opacity: 1;
    transform: translateY(0);
}
h1 {
    text-align: center;
}
p {
    color: #8C8C8C;

}

.form-control {
    background-color: #c9c9c9 !important; 
}

.btn-primary {
    background-color: #130F0F;
  


#carouselExampleSlidesOnly.carousel-container{
    transition-duration: 2s;
}}

.navbar {
    backdrop-filter: blur(30px); /* Ajusta el valor del desenfoque según tu preferencia */
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta la transparencia del fondo */
  }
  
  /* Estilos para los enlaces del navbar */
  .navbar .nav-link {
    color: #ffffff; /* Color del texto */
    transition: background-color 0.3s ease, color 0.3s ease, border-radius 0.3s ease;
  }

.smooth-navbar .nav-link:hover {
    border-radius: 50px; /* Cambia el radio en hover para que sea más redondeado */
    background-color: #3f3f3f7e; /* Color de fondo con transparencia */
    color: #c9c9c9; /* Color del texto al pasar el mouse */
}

.navbar-smooth-navbar {
    backdrop-filter: blur(15px); /* Ajusta el valor del desenfoque según tu preferencia */
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta la transparencia del fondo */
  }

body.dark-theme #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Redondeamos el interruptor de tema */
body.dark-theme .slider.round {
    border-radius: 34px;
}