<<<<<<< HEAD
@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-slide {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
  }
  
  .icon {
    width: 40%; /* Tama침o del icono */
    fill: #aaaaaa; /* Color del icono */
    transition: filter 0.3s ease-in-out;
  }
  
  .icon:hover {
    filter: brightness(1.5); /* Ajusta el brillo al pasar el rat칩n */
=======
@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-slide {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
  }
  
  .icon {
    width: 40%; /* Tama침o del icono */
    fill: #aaaaaa; /* Color del icono */
    transition: filter 0.3s ease-in-out;
  }
  
  .icon:hover {
    filter: brightness(1.5); /* Ajusta el brillo al pasar el rat칩n */
>>>>>>> 9389d66f73e16b2ada8633d5cb59078956fe0568
  }